<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>Deeplink.$(PRODUCT_NAME:rfc1034identifier)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>AppWordsSDKexample</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
    <key>NSUserActivityTypes</key>
    <array>
        <string>demo.appwordssdkexample.pages</string>
    </array>
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>abcnewsiphone</string><!-- ABC News -->
        <string>airbnb</string><!-- Airbnb -->
        <string>birchbox</string><!-- Birchbox -->
        <string>booking</string><!-- Booking.com -->
        <string>sportscenter</string><!-- ESPN -->
        <string>etsy</string><!-- Etsy -->
        <string>expda</string><!-- Expedia -->
        <string>foursquare</string><!-- Foursquare -->
        <string>jackthreads</string><!-- JackThreads -->
        <string>ls</string><!-- LivingSocial -->
        <string>reservetable-com.contextoptional.OpenTable-1</string><!-- OpenTable -->
        <string>pandora</string><!-- Pandora -->
        <string>pinterest</string><!-- Pinterest -->
        <string>poshmark</string><!-- Poshmark -->
        <string>shazam</string><!-- Shazam -->
        <string>soundcloud</string><!-- SoundCloud -->
        <string>stubhub</string><!-- StubHub -->
        <string>com.aol.mobile.techcrunch</string><!-- TechCrunch -->
        <string>threadflip</string><!-- Threadflip -->
        <string>todaytix</string><!-- TodayTix -->
        <string>tripadvisor</string><!-- TripAdvisor -->
        <string>urbanout</string><!-- UrbanOutfitters.com -->
        <string>yelp</string><!-- Yelp -->
        <string>com.yummly.production</string><!-- Yummly -->
        <string>zomato</string><!-- Zomato -->
    </array>
</dict>
</plist>
